.myexperience {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    font-weight: normal;
    background-color: rgb(67, 67, 67);
    display: flex;
    box-sizing: border-box;
    height: 100vh; 
    flex-direction: column; 
    padding-left: 15%;
    text-align: center;
    position: center;
}
.experiencetext {
    font-size: xx-small;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    color: lightgrey;
    display: flex; 
    max-width: 90%;  
}
.experienceheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.myexperience {
    text-align: center;
}
.carousel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;
}
.carousel-content {
    width: 100%;
    max-width: 600px;
    height: auto;
    overflow: hidden;
}
.arrow-btn {
    background-color: #5a189a;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.2rem;
} 
.arrow-btn:hover {
    background-color: #0056b3;
}
  
.up-arrow {
    margin-bottom: 10px;
}
.down-arrow {
    margin-top: 10px;
}
.experience-card {
    transition: transform 0.5s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    padding: 20px;
}
.uni h1 {
    display: inline;
}
.color1 {
    color: #c77dff;
}
.color2 {
    color: #e0aaff;
}
.color3 {
    color:white;
}
.color4 {
    color: #9d4edd; 
}
.color5 {
    color: #5a189a
}