.headersection {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: bold;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 200px; 
    z-index: 1000;
    padding-left: 1%;
    padding-top: 5%;
    padding-bottom: 5%;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
    background-color: rgb(100, 100, 100);
}
.active {
    text-shadow: 0 0 10px rgba(255, 0, 255, 0.8), 0 0 20px rgba(255, 0, 255, 0.8), 0 0 30px rgba(255, 0, 255, 0.8);
    color: white !important;
}
.headersection a {
    text-decoration: none;
    color: #5a189a;
}
.color1 {
    color: #c77dff;
}
.color2 {
    color: #e0aaff;
}
.color3 {
    color:white;
}
.color4 {
    color: #9d4edd; 
}
.color5 {
    color: #5a189a
}