.projects {
    font-size: xx-small;
    margin: 0 auto;
    padding: 20px;
    color: lightgrey;
    height: 90vh; 
    display: flex; 
    max-width: 90%;
}
.carousel-contanier {
    display: flex;
    flex-direction: row;
}
.myprojects {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    font-weight: normal;
    background-color: rgb(67, 67, 67);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-left: 15%;
    height: 100vh; 
}
.arrow-btn {
    background-color: #9d4edd;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left-arrow {
    left: 0; 
    position: relative;
}
.right-arrow {
    right: 0; 
    position: relative;
}
.color1 {
    color: #c77dff;
}
.color2 {
    color: #e0aaff;
}
.color3 {
    color:white;
}
.color4 {
    color: #9d4edd; 
}
.color5 {
    color: #5a189a
}