.aboutme {
    padding-left: 15%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    font-weight: normal;
    background-color: rgb(67, 67, 67);
    display: flex;
    box-sizing: border-box;
    scroll-snap-align: start; 
    height: 100vh; 
}   
.socials {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
}
.aboutmetext {
    text-align: center;
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    justify-content: center; 
    margin: 0 auto; 
    padding: 20px; 
    width: 80%; 
    max-width: 800px; 
    gap: 10px;
}
.focustext {
    text-align: left; 
    max-width: 90%;
}  
.focustext h3 {
    display: inline;
    margin: 0;
    padding: 0; 
}
.nowrap {
    white-space: nowrap; 
}
.uni h1 {
    display: inline;
}
.color1 {
    color: #c77dff;
}
.color2 {
    color: #e0aaff;
}
.color3 {
    color:white;
}
.color4 {
    color: #9d4edd; 
}
.color5 {
    color: #5a189a
}